@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
body{
   background:black;
}
.hey{
    font-family: 'Poppins' sans-serif;
    font-size:55px;

}
.intro{
    position: relative;
    width: 100%;
   
    background: url(back.png);
  
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 10px 30px;
    display: flex;
    justify-content: center;
   
    flex-direction: column;
}
.hero-area{
   background: url(frontbg.png);
  margin-left: 10%;
   background-size:100% 90%;
   background-repeat: no-repeat;
   margin-top: 2%;
   width: 80%;
   height: 700px;
    
}
a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   .navbar {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 20px;
    margin-right: 8%;
    color: #fff;
    
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    margin-left: 10%;
    margin-top: 0.5%;
    

   }
   /* NAVBAR MENU */
   .menu {
    display:flex;
    gap: 1em;
    
    font-size: 15px;
   }
  
   .menu li:hover {
    background-color: #212121;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:#002147;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#002147;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
}



.Explore{

width: 100%;
height: max-content;
padding-bottom: 10%;

}
.moon-info{
    width: 100%;
height: max-content;
padding: 10px 180px;
margin-top: 10%;
margin-bottom: 10%;
}
.explore-cont{
    margin-top: 3%;
    width: 60%;
    float: left;
    height: max-content;
   

}
.about-moon{
    color: #fff;

}
h3{
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img-cont{
    justify-content:  center;
    margin-top: 3%; 
    width: 40%;
    text-align: center;
    float:right; 
}

.headshot{
    width: 250px;
     height: 250px;
   
    
}

.about {
    width: 100%;
    height: max-content;
    padding-bottom: 10%;

}
.program-info{
    width: 100%;
    height: max-content;
    padding: 10px 180px;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.about-cont{
    margin-top: 6%;
    width: 50%;
    float: left;
    height: max-content;
   
}

.about-prog{
    color: #fff;
}

.imge-cont{
    justify-content:  center;
    margin-top: 3%; 
    margin-right: 4%;
    width: 40%;
    text-align: center;
    float:right; 
}
.moon{
    width: 500px;
    height: 400px;
  
}


.Past-Visitors{

    width: 100%;
    height: max-content;
    padding: 10px 180px;
    margin-top: 10%;
    
    }


    .past{background-color: #212121;
        height: fit-content;
        width: 90%;
        margin-left: 5%;
        justify-content:  center;
        flex-direction: column;
        min-height: 100px;
        border-radius: 20px;
        padding: 10px 100px;
        margin-top: 20%;
        padding-bottom: 100px;
    
    }
    .past-card{
        width: 250px;
        height: 370px;
         background-color:#212121 ;
         padding: 7px;
       text-align: center;
       color: #fff;
       border-radius: 10px;
        
    }
    .outer-box{
        width: 250px;
        height: fit-content;
        text-align: center;
        margin: 10px;
    }
    
    .past-container{
        display: flex;
        margin: 50px;
        justify-constent: space-around;
    }
    @media only screen and (max-width:1000px){
        .past-container{
            display: flex;
            flex-wrap: wrap;
        }
    }
    
    .past-image{
        margin-top: 5px;
        width : 210px;
        height: 300px;
       border-radius: 15px;
       margin-bottom: 10px;
    
    }
    
    hr{
        margin-left: 0px;
        margin-right: 0px;
    }
    .Project-link{
       text-decoration:none;
        color:#616161 ;
    }
    a{
       text-decoration: none;
       color: white;
    }
    
    
    .ticket{
        border-radius: 20px;
        width: 100%;
        height: max-content;
        text-align: center
    
    }
    .open-cont{
        margin: 69px;
        height: fit-content;
        padding: 50px;
        border-radius: 12px;
        text-align: center;
    
    }

    
footer{
    position: relative;
    width: 100%;
    background-image:url(moonsurface.png);
    background-size: 100% 100%;    
    min-height: 300px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
footer .social_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
footer .social_icon li{
    list-style: none;
}
footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}

